@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-3 text-danger">Something Went Wrong :(</h1>
    <a class="display-6" asp-controller="Home" asp-action="Index">Go Home</a>
</div>