@using SummerTrainingSystemCore.Enums

<ul class="navbar-nav ml-auto text-center login-ul">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <partial name="_ProfilePictureLogicPartial"/>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole(Roles.Student.ToString()))
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="GetTrainningForStudent">
                        My Trainings
                    </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="StudentProfile">
                        My Profile
                    </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="EditStudent">
                        Edit Profile
                    </a>
                }
                @if (User.IsInRole(Roles.Supervisor.ToString()))
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="SupervisorProfile">
                        My Profile
                    </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="EditSupervisor">
                        Edit Profile
                    </a>
                }
                @if (User.IsInRole(Roles.Company.ToString()))
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="GetTrainingsForCompany">
                        My Trainings
                    </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="CompanyProfile">
                        My Profile
                    </a>
                }
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item me-1">
            <a class="nav-link bg-primary text-white" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-success text-white" asp-controller="Account" asp-action="LoginAsCompany">Company?</a>
        </li>
    }
</ul>