@model SaveTrainingVM
@inject SummerTrainingSystemCore.Interfaces.IGenericRepository<Department> depRepo
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        
        <div class="col-md-8 mt-4">
            <div class="separator">
                <h1 class="display-5">Edit Training</h1>
                <hr />
            </div>
        </div>
        <div class="col-md-8">
            <form 
                method="post"
                >
                <input asp-for="Id" type="hidden" />
                <div class="form-floating mb-2 mt-2">
                    <input asp-for="Title" class="form-control" placeholder="Training Title" />
                    <label class="custom-label" asp-for="Title">Title</label>
                    <span asp-validation-for="Title" style="color: #ff008d;"></span>
                </div>

                <div class="form-floating mb-2 mt-2">
                    <textarea asp-for="Description" class="form-control" placeholder="Training Description"></textarea>
                    <label class="custom-label" asp-for="Description">Description</label>
                    <span asp-validation-for="Description" style="color: #ff008d;"></span>
                </div>

                <div class="row">
                    <div class="col form-floating mb-2 mt-2">
                        <input asp-for="StartAt" class="form-control" placeholder="Start At" />
                        <label asp-for="StartAt"></label>
                        <span asp-validation-for="StartAt" style="color: #ff008d;"></span>
                    </div>
                    <div class="col form-floating mb-2 mt-2">
                        <input asp-for="EndAt" class="form-control" placeholder="End At" />
                        <label asp-for="EndAt"></label>
                        <span asp-validation-for="EndAt" style="color: #ff008d;"></span>
                    </div>
                </div>

                <div class="custom-select mb-2 mt-2 col">
                    <label asp-for="DepartmentId"></label>
                    <select asp-for="DepartmentId" class="form-control" 
                            asp-items="@(
                                depRepo.ListAllAsync().Result
                                .Select(l => new SelectListItem() {Text = l.Abbreviation, Value = l.Id.ToString() })
                            )">
                        <option value="">..</option>
                    </select>
                    <span asp-validation-for="DepartmentId" style="color: #ff008d;"></span>
                </div>

                <div class="buttons mb-2 mt-4">
                    <button type="submit" class="btn btn-outline-dark">Save</button>
                    <a href="/trainings" class="btn btn-outline-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
