@model SaveTrainingVM
@inject SummerTrainingSystemCore.Interfaces.IUnitOfWork unitOfWork
@{
    ViewData["Title"] = Model.Title;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="display-5">Edit Training</h1>
            <hr />
            @if (!String.IsNullOrEmpty(ViewBag.TrainingNotUpdated))
            {
                <div class="alert alert-danger">
                    @ViewBag.TrainingNotUpdated
                </div>
            }
            <form method="post">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CompanyId" type="hidden" />
                <input asp-for="ApplicantsCount" type="hidden" />

                <div class="row">
                    <div class="col-md-6 mt-4">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Title" />
                        <span asp-validation-for="Title" style="color: #ff008d;"></span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label asp-for="OpenPositions"></label>
                        <input asp-for="OpenPositions" class="form-control" placeholder="Open Positions"/>
                        <span asp-validation-for="OpenPositions" style="color: #ff008d;"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-3">
                        <label asp-for="StartAt"></label>
                        <input asp-for="StartAt" class="form-control"/>
                        <span asp-validation-for="StartAt" style="color: #ff008d;"></span>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label asp-for="EndAt"></label>
                        <input asp-for="EndAt" class="form-control"/>
                        <span asp-validation-for="EndAt" style="color: #ff008d;"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-4">
                        <label asp-for="DepartmentId"></label>
                        <select asp-for="DepartmentId" class="form-select" 
                                asp-items="@(
                                    unitOfWork.GenericRepository<Department>().ListAllAsync().Result
                                    .Select(l => new SelectListItem() {Text = l.Abbreviation, Value = l.Id.ToString() })
                                )">
                            <option value="">Department</option>
                        </select>
                        <span class="text-danger" asp-validation-for="DepartmentId"></span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label asp-for="TrainingTypeId"></label>
                        <select asp-for="TrainingTypeId" class="form-select" 
                                asp-items="@(
                                    unitOfWork.GenericRepository<TrainingType>().ListAllAsync().Result
                                    .Select(l => new SelectListItem() {Text = l.TypeName, Value = l.Id.ToString() })
                                )">
                            <option value="">Training Type</option>
                        </select>
                        <span class="text-danger" asp-validation-for="TrainingTypeId"></span>
                    </div>
                </div>
                <div class="mt-4">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" style="color: #ff008d;"></span>
                </div>

                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a asp-controller="Account" asp-action="GetTrainingsForCompany" class="btn btn-dark">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
