@model IEnumerable<SaveTrainingVM>
@{
    ViewData["Title"] = "Trainings";
}

<link rel="stylesheet" href="~/css/trainings.css" />
<a asp-controller="Trainings" asp-action="Create" class="btn btn-outline-primary">Add New <i class="fa fa-plus-circle"></i></a>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        @foreach (var tr in Model)
        {
            <div class="feature col">

                <h2>@tr.Title</h2>
                <p class="text-primary">
                    @(tr.Description.Length > 60 ? tr.Description[..60] : tr.Description)
                </p>
                <a asp-controller="Trainings" asp-action="Details" asp-route-id="@tr.Id" class="icon-link">
                    View
                </a>
            </div>
        }
    </div>
</div>
<div class="divider"></div>