.hetadiv {
    position: relative;
    z-index: 1;
}

.bluediv {
    height: 195px;
    width: 100%;
    background-color: #405678;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.profile-photo {
    width: 160px;
    height: 160px;
    object-fit: contain;
    background-color: #ffffff;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    position: absolute;
    top: calc(100% - 40px);
    left: 32px;
    padding: 0;
}

.photodiv {
    position: relative;
    margin-left: calc(160px + 32px);
    padding: 12px 0 0 16px;
    min-height: 120px;
}

.headdiv {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.head {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 29px;
    display: inline-block;
    margin: 0;
    max-width: 300px;
}

.headmark {
    display: inline-flex;
    background-color: #f5f6f7;
}

.mark {
    height: 16px;
    width: 16px;
    margin: 0px 7px 0px 4px;
}

.btnganb {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease;
    min-height: 32px;
    line-height: 22px;
    color: #0055D9;
    background-color: transparent;
}

.descdiv {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #4D6182;
    margin: 8px 0 0 0;
    max-width: 464px;
}

.manu {
    color: inherit;
    text-decoration: none;
}

.location-info {
    display: inline-block;
    line-height: 22px;
}

.company-size {
    display: inline-block;
    line-height: 22px;
}

.linksdiv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.comlink {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #667893;
    max-width: 240px;
}

.weblink {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: #0055D9;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.prof {
    position: relative;
    background: #ffffff;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    padding: 24px 32px 32px 32px;
}

.profhead {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 29px;
    margin: 0 0 16px 0;
}

.profspans {
    color: #4D6182;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.locspan, .foundedspan, .industryspan, .spaciaspan, .sizespan {
    display: flex;
    flex-direction: row;
}

.location, .founded, .industry, .spacia, .comsize {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    display: inline-block;
}

.makan, .year, .manufac, .num {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    margin-left: 4px;
    display: inline-block;
    max-width: 254px;
}

.about {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #4D6182;
    margin: 24px 0 0 0;
    word-break: break-word;
}

.seemore {
    font-weight: 600;
    text-decoration: underline;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.seearrow {
    display: inline-flex;
    line-height: 1em;
    width: 16px;
    height: 16px;
}
