.hetadiv {
    position: relative;
    z-index: 1;
}

.bluediv {
    height: 195px;
    width: 100%;
    background-color: #405678;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.profile-photo {
    width: 160px;
    height: 160px;
    object-fit: contain;
    background-color: #ffffff;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    position: absolute;
    top: calc(100% - 40px);
    left: 32px;
    padding: 0;
}

.photodiv {
    position: relative;
    padding: 12px 0 0 16px;
    min-height: 120px;
}

.headdiv {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.head {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 29px;
    display: inline-block;
    margin: 0;
    max-width: 300px;
}

.headmark {
    display: inline-flex;
    background-color: #f5f6f7;
}

.mark {
    height: 16px;
    width: 16px;
    margin: 0px 7px 0px 4px;
}

.btnganb {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease;
    min-height: 32px;
    line-height: 22px;
    color: #0055D9;
    background-color: transparent;
}

.descdiv {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #4D6182;
    margin: 8px 0 0 0;
    max-width: 464px;
}

.manu {
    color: inherit;
    text-decoration: none;
}

.location-info {
    display: inline-block;
    line-height: 22px;
}

.company-size {
    display: inline-block;
    line-height: 22px;
}

.linksdiv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.comlink {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #667893;
    max-width: 240px;
}

.weblink {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: #0055D9;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.prof {
    position: relative;
    background: #ffffff;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    padding: 24px 32px 32px 32px;
}

.profhead {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 29px;
    margin: 0 0 16px 0;
}

.profspans {
    color: #4D6182;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.locspan, .foundedspan, .industryspan, .spaciaspan, .sizespan {
    display: flex;
    flex-direction: row;
}

.location, .founded, .industry, .spacia, .comsize {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    display: inline-block;
}

.makan, .year, .manufac, .num {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    margin-left: 4px;
    display: inline-block;
    max-width: 254px;
}

.about {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #4D6182;
    margin: 24px 0 0 0;
    word-break: break-word;
}

.seemore {
    font-weight: 600;
    text-decoration: underline;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.seearrow {
    display: inline-flex;
    line-height: 1em;
    width: 16px;
    height: 16px;
}



.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}

@media(max-width:768px)
{
    .profile-pic img {
        width: 100px;
        height: 100px;
    }
}

.profile-pic .-label {
    cursor: pointer;
    height: 150px;
    width: 150px;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 48%);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}
.box
{
    max-width:100%;
    border: 2px solid #333;
    padding:  15px 10px;
    margin-top: 10px;
}
.box h2{
    margin-bottom: 15px;
}
.box textarea{
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}
.box #SubmitComment {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.box #SubmitComment{
}
.CommentsView
{
    margin-top: 3rem;
}
.commentdiv {
    display: flex;
    padding: 1rem !important;
    margin-top: 1rem !important;
    border: 1px solid #dee2e6 !important;
}
.photocommentdiv img{
    width: 3.2rem;
    height: 3.2rem;
    background: 0 0;
    border: 1px solid #d1d7dc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
    vertical-align: middle;
    max-width: 100%;
}
.commenttextdiv{
    flex: 1;
    min-width: 1px;
    padding-left: 0.8rem;
}
.commenttext{
    display: flex;
}
.commenttext .txt{
    flex: 1;
    min-width: 1px;
    padding-right: 1.6rem;
}
.commenttext .txt h4 a{
    display: inline-flex;
    max-width: 100%;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
}
.commentperson{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}
.commentperson a{
    display: inline-block;
    color: #5624d0;
    text-decoration: none;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}
.time {
    color: rgb(96, 96, 96);
    font-weight: 400;
    line-height: 2rem;
    font-size: 16px;
}