.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.buttonbtn {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease;
    min-height: 40px;
    line-height: 32px;
    color: #ffffff;
    background-color: #0055D9;
    width: 200px;
    margin-right: 12px;
}
