.divider {
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}
a{
    text-decoration:none;
}
.sww{
    left:500px;
}
.sw{
    top:50px;
    width:250px;
    min-height:auto;
    min-width:auto;
    height:45px;
}
.applicationNumber{
    font-size:36px;
}
.applicationPostion{
    max-width:5px;
}

