@model EditSupervisorProfileVM
@inject SummerTrainingSystemCore.Interfaces.IGenericRepository<Department> depRepo
@{
    ViewData["Title"] = "Edit Profile";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col">

            <h1 class="display-5">Edit Profile</h1>
            <hr />

            @if (!String.IsNullOrEmpty(ViewBag.StudentEdited))
            {
                <div class="alert alert-success">
                    @ViewBag.StudentEdited
                </div>
            }
            @if (!String.IsNullOrEmpty(ViewBag.StudentNotEdited))
            {
                <div class="alert alert-danger">
                    @ViewBag.StudentNotEdited
                </div>
            }
            <form method="post">
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <input class="form-control" asp-for="FirstName" placeholder="First Name" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <input class="form-control" asp-for="LastName" placeholder="Last Name" />
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <input class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <input class="form-control" readonly asp-for="UniversityID" placeholder="GPA" min="1" max="4" />
                        <span class="text-danger" asp-validation-for="UniversityID"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <input class="form-control" asp-for="Email" placeholder="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <input hidden class="form-control" asp-for="DepartmentId" />
                        <select disabled asp-for="DepartmentId" class="form-select"
                                asp-items="@(
                                    depRepo.ListAllAsync().Result
                                    .Select(l => new SelectListItem() {Text = l.Abbreviation, Value = l.Id.ToString() })
                                )">
                            <option value="">Select Department</option>
                        </select>
                        <span class="text-danger" asp-validation-for="DepartmentId"></span>
                    </div>
                </div>


                <div class="mt-4 d-flex justify-content-between">
                    <button class="btn btn-success">Save</button>
                    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Back</a>
                </div>
            </form>
            <div class="mt-4 text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}