@model LoginVM
@{
    ViewData["Title"] = "Login";
}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-5">

            <h1 class="display-5">Login</h1>
            <hr />
            @if (!String.IsNullOrEmpty(ViewBag.LoginFailed))
            {
                <div class="alert alert-danger">
                    @ViewBag.LoginFailed
                </div>
            }
            <form method="post">
                <div class="form-floating mt-4">
                    <input class="form-control" asp-for="UniversityId" placeholder="University Id" />
                    <label asp-for="UniversityId">University Id</label>
                    <span class="text-danger" asp-validation-for="UniversityId"></span>
                </div>
                <div class="form-floating mt-4">
                    <input class="form-control" asp-for="Password" placeholder="Password" />
                    <label asp-for="Password">Password</label>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back</a>
                </div>
            </form>
            <div class="mt-4 bg-danger p-2 text-white" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="col-md-5 offset-md-1">
            <img src="~/images/login.svg" alt="student" style="max-width: 100%;"/>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}