@model ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col">

            <h1 class="display-5">Reset Password</h1>
            <hr />
            <form method="post">
                <div class="col-md-6 mt-4">
                    <div class="">
                        <input class="form-control" asp-for="CurrentPassword" placeholder="Current Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="">
                        <input class="form-control" asp-for="NewPassword" placeholder="New Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="">
                        <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm New Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>


                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back</a>
                </div>
            </form>
            <div class="mt-4 bg-danger p-2 text-white" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}