@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/homepage.css" />
<!-- start landing -->
<div class="landing">
    <div class="overlay"></div>
    <div class="text-content text-white">
    <h3 >Hello Students!</h3>
    <p >- We are Tradent - <br />Your career starts when you gain the market experience.</p>
    </div>
</div>
<!-- end landing -->